#background {
    -fx-background-image: url("images/background.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#menu {
    -fx-background-color: #28223E;
}

#vboxMain, #scrollPane, .viewport {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

#vboxSecondaire {
    -fx-background-color: #414150;
}

#btnProfil, #btnDeconnexion, #btnVotes, #btnResultats {
    -fx-background-color: transparent;
    -fx-background-size: 40% 40%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#btnProfil {
    -fx-background-image: url("images/profil.png");
}

#btnDeconnexion {
    -fx-background-image: url("images/deconnexion.png");
}

#btnVotes {
    -fx-background-image: url("images/voter.png");
}

#btnResultats {
    -fx-background-image: url("images/resultat.png");
}


